<%= form_for(@stormtrooper) do |f| %>
  <% if @stormtrooper.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stormtrooper.errors.count, "error") %> prohibited this stormtrooper from being saved:</h2>

      <ul>
      <% @stormtrooper.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :unit %><br>
    <%= f.number_field :unit %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
